
  
  
  <div class="row"> 
    <div class="column">
        <div class="container">
            <img src="../assets/women.jpg" alt="Avatar" class="image">
            <a routerLink = "/women" routerLinkActive = "active">
            <div class="overlay">
              <div class="text">Women's Fashion</div>
            </div>
            </a>
          </div>
          <div class="container">
              <img src="../assets/kid.jpg" alt="Avatar" class="image">
              <a routerLink = "/kid" routerLinkActive = "active">
              <div class="overlay">
                <div class="text">Kid's Fashion</div>
              </div>
              </a>
            </div>
        <div class="container">
            <img src="../assets/electronics.jpg" alt="Avatar" class="image">
            <a routerLink = "/electronics" routerLinkActive = "active">
            <div class="overlay">
                <div class="text">Electronics</div>
            </div>
          </a>
          </div>
          
          
    </div>
    <div class="column">
        <div class="container">
            <img src="../assets/men.jpg" alt="Avatar" class="image">
            <a routerLink = "/men" routerLinkActive = "active">
            <div class="overlay">
              <div class="text">Men's Fashion</div>
            </div>
            </a>
          </div>
          <div class="container">
              <img src="../assets/healthcare.jpg" alt="Avatar" class="image">
              <a routerLink = "/healthcare" routerLinkActive = "active">
                <div class="overlay">
                  <div class="text">Healthcare & Fitness
                  </div>
                </div>
                </a>
            </div>
          <div class="container">
            <img src="../assets/sports.jpg" alt="Avatar" class="image">
            <a routerLink = "/sports" routerLinkActive = "active">
            <div class="overlay">
                <div class="text">Sports</div>
            </div>
            </a>
          </div>
          
          
    </div>  
    
  </div>

  <router-outlet></router-outlet>
