<div class="row"> 
  <div class="column">
    
    <div class="container">
      <img src="../assets/PHOTOS/e-television.jpg" alt="Television" class="image">
      <div class="overlay">
        <div class="text">Television</div>
      </div>
    </div>

    <div class="container">
      <img src="../assets/PHOTOS/e-laptop.jpg" alt="Laptop" class="image">
        <div class="overlay">
          <div class="text">Laptop</div>
        </div>
    </div>

    <div class="container">
      <img src="../assets/PHOTOS/e-headphone.jpg" alt="Headphone" class="image">
        <div class="overlay">
          <div class="text">Headphone</div>
        </div>
    </div>
  
  </div>
    
  <div class="column">
    
    <div class="container">
      <img src="../assets/PHOTOS/e-mobile.jpg" alt="Mobile Phone" class="image">
      <div class="overlay">
        <div class="text">Mobile Phone</div>
      </div>
    </div>

    <div class="container">
      <img src="../assets/PHOTOS/e-camera.jpg" alt="Camera" class="image">
        <div class="overlay">
          <div class="text">Camera</div>
        </div>
    </div>
          
    <div class="container">
      <img src="../assets/PHOTOS/e-printer.jpg" alt="Printer" class="image">
      <div class="overlay">
        <div class="text">Printer</div>
      </div>
    </div>

    
  </div>  
    
</div>

  <router-outlet></router-outlet>