<div class="row"> 
  <div class="column">
    
    <div class="container">
      <img src="../assets/PHOTOS/h-products.jpg" alt="Products" class="image">
      <div class="overlay">
        <div class="text">Healthcare Products</div>
      </div>
    </div>

    

    <div class="container">
      <img src="../assets/PHOTOS/h-nutrition.jpg" alt="Nutrition" class="image">
        <div class="overlay">
          <div class="text">Nutrition</div>
        </div>
    </div>
  
  </div>
    
  <div class="column">

      <div class="container">
          <img src="../assets/PHOTOS/h-personal.png" alt="Personal Care" class="image">
            <div class="overlay">
              <div class="text">Personal Care</div>
            </div>
        </div>
    
    <div class="container">
      <img src="../assets/PHOTOS/h-accessories.jpg" alt="Accessories" class="image">
      <div class="overlay">
        <div class="text">Accessories</div>
      </div>
    </div>
          
    <div class="container">
      <img src="../assets/PHOTOS/h-cardio.jpg" alt="Cardio Equipment" class="image">
      <div class="overlay">
        <div class="text">Cardio Equipment</div>
      </div>
    </div>

    
  </div>  
    
</div>

  <router-outlet></router-outlet>