<div class="row"> 
    <div class="column">
      
      <div class="container">
        <img src="../assets/m-clothes.jpg" alt="Men's Clothes" class="image">
        <div class="overlay">
          <div class="text">Clothes</div>
        </div>
      </div>
  
      <div class="container">
        <img src="../assets/m-footwear.jpg" alt="Men's Footwear" class="image">
          <div class="overlay">
            <div class="text">Footwear</div>
          </div>
      </div>
    
    </div>
      
    <div class="column">
      
      <div class="container">
        <img src="../assets/m-bag.jpg" alt="Men's Bags" class="image">
        <div class="overlay">
          <div class="text">Bags</div>
        </div>
      </div>
            
      <div class="container">
        <img src="../assets/m-accessories.jpg" alt="Men's Accessories" class="image">
        <div class="overlay">
          <div class="text">Accessories</div>
        </div>
      </div>

      <div class="container">
          <img src="../assets/m-style.jpg" alt="Men's Styling Products" class="image">
            <div class="overlay">
              <div class="text">Styling Products</div>
            </div>
      </div>
          
    </div>  
      
  </div>
  
    <router-outlet></router-outlet>
