<div class="row"> 
  <div class="column">
    
    <div class="container">
      <img src="../assets/s-cricket.jpg" alt="Cricket" class="image">
      <div class="overlay">
        <div class="text">Cricket</div>
      </div>
    </div>

    <div class="container">
      <img src="../assets/s-football.jpg" alt="Football" class="image">
        <div class="overlay">
          <div class="text">Football</div>
        </div>
    </div>

    <div class="container">
      <img src="../assets/s-cycling.jpg" alt="Cycling" class="image">
        <div class="overlay">
          <div class="text">Cycling</div>
        </div>
    </div>
  
  </div>
    
  <div class="column">
    
    <div class="container">
      <img src="../assets/s-badminton.jpg" alt="Badminton" class="image">
      <div class="overlay">
        <div class="text">Badminton</div>
      </div>
    </div>
          
    <div class="container">
      <img src="../assets/s-camping.jpg" alt="Camping & Hiking" class="image">
      <div class="overlay">
        <div class="text">Camping & Hiking</div>
      </div>
    </div>

    
  </div>  
    
</div>

  <router-outlet></router-outlet>
