<div class="row"> 
  <div class="column">
    
    <div class="container">
      <img src="../assets/w-clothes.jpg" alt="Women's Clothes" class="image">
      <div class="overlay">
        <div class="text">Clothes</div>
      </div>
    </div>

    <div class="container">
      <img src="../assets/w-footwear.jpg" alt="Women's Footwear" class="image">
        <div class="overlay">
          <div class="text">Footwear</div>
        </div>
    </div>

    <div class="container">
      <img src="../assets/w-beauty.jpg" alt="Women's Beauty Products" class="image">
        <div class="overlay">
          <div class="text">Beauty Products</div>
        </div>
    </div>
  
  </div>
    
  <div class="column">
    
    <div class="container">
      <img src="../assets/w-bag.png" alt="Women's Bags" class="image">
      <div class="overlay">
        <div class="text">Bags</div>
      </div>
    </div>
          
    <div class="container">
      <img src="../assets/w-jewellery.jpg" alt="Women's Accessories" class="image">
      <div class="overlay">
        <div class="text">Accessories</div>
      </div>
    </div>
        
  </div>  
    
</div>

  <router-outlet></router-outlet>
